{% extends "base.html" %}

{% block beforeContent %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Hard to Heat Homes</h1>
    <table class="govuk-table govuk-table--small-text-until-tablet">
      <caption class="govuk-table__caption govuk-table__caption--m">sum(like_it_hot)</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">UPRN</th>
          <th scope="col" class="govuk-table__header">TOID</th>
          <th scope="col" class="govuk-table__header">Connectivity</th>
          <th scope="col" class="govuk-table__header">Age</th>
          <th scope="col" class="govuk-table__header">Material</th>
          <th scope="col" class="govuk-table__header">EPC Rating</th>
          <th scope="col" class="govuk-table__header">EPC Points</th>
          <th scope="col" class="govuk-table__header">Score</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for prop in properties['rows'][0] %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">test before loop</th>
          <th scope="row" class="govuk-table__header">{{ prop.address1 }}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}